<a href="https://colab.research.google.com/github/leandrodakel/Banco-de-Dados/blob/main/panda_read_html.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# Lendo uma tabela da internet e transformando-a em um DataFrame

url = 'https://www.fdic.gov/resources/resolutions/bank-failures/failed-bank-list/'

dfs = pd.read_html(url)

print(type(dfs))

print(len(dfs))

# Aqui, teremos como resultado nosso DataFrame com uma lista que cont√©m apenas uma tabela.

<class 'list'>
1

In [2]:
df_bancos = dfs[0]

print(df_bancos.shape)

print(df_bancos.dtypes)

df_bancos.head()

(25, 7)
Bank Name                object
City                     object
State                    object
Cert                      int64
Acquiring Institution    object
Closing Date             object
Fund  Sort ascending      int64
dtype: object

,Bank Name,City,State,Cert,Acquiring Institution,Closing Date,Fund Sort ascending
0,The Santa Anna National Bank,Santa Anna,Texas,5520,Coleman County State Bank,"June 27, 2025",10549
1,Pulaski Savings Bank,Chicago,Illinois,28611,Millennium Bank,"January 17, 2025",10548
2,The First National Bank of Lindsay,Lindsay,Oklahoma,4134,First Bank & Trust Co.,"October 18, 2024",10547
3,Republic First Bank dba Republic Bank,Philadelphia,Pennsylvania,27332,"Fulton Bank, National Association","April 26, 2024",10546
4,Citizens Bank,Sac City,Iowa,8758,Iowa Trust & Savings Bank,"November 3, 2023",10545